<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Ingresa tu nueva contraseña</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form (ngSubmit)="onSubmit()">
        <ion-item>
          <ion-label position="floating">Contraseña actual</ion-label>
          <ion-input type="password" [(ngModel)]="currentPassword" name="currentPassword" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Nueva contraseña</ion-label>
          <ion-input type="password" [(ngModel)]="newPassword" name="newPassword" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Confirmar nueva contraseña</ion-label>
          <ion-input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" required></ion-input>
        </ion-item>

        <ion-button expand="full" type="submit" [disabled]="!currentPassword || !newPassword || !confirmPassword">Cambiar Contraseña</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
