<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Rutinas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Rutinas</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-img src="assets/images/2.jpg" ></ion-img>
    <ion-card-header>
      <ion-card-title>Pectoral</ion-card-title>
      <ion-card-subtitle>Ejercicios de Pecho</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Revisa rutinas para pecho aquí!
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-img src="assets/images/2.jpg" ></ion-img>
    <ion-card-header>
      <ion-card-title>Espalda</ion-card-title>
      <ion-card-subtitle>Ejercicios para Espalda</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Haz crecer tu espalda, revisa aquí!
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-img src="assets/images/2.jpg" ></ion-img>
    <ion-card-header>
      <ion-card-title>Biceps</ion-card-title>
      <ion-card-subtitle>Ejercicios de Biceps</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Revisa rutinas para pecho
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-img src="assets/images/2.jpg" ></ion-img>
    <ion-card-header>
      <ion-card-title>Brazos</ion-card-title>
      <ion-card-subtitle>Ejercicios de Brazos</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Transforma esas ramitas en troncos, más información aqui! flacow
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-img src="assets/images/2.jpg" ></ion-img>
    <ion-card-header>
      <ion-card-title>Pierna</ion-card-title>
      <ion-card-subtitle>Ejercicios de Pierna</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Dile adiós a esas patas de pollo y empieza ahora! Da click aquí
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-img src="assets/images/2.jpg" ></ion-img>
    <ion-card-header>
      <ion-card-title>Abdomen</ion-card-title>
      <ion-card-subtitle>Ejercicios de Abdomen</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Obten tu sixpack y dile hola al verano sin polera, da click aquí!
    </ion-card-content>
  </ion-card>

</ion-content>
<app-layout></app-layout>