/* src/app/components/user-overview/user-overview.component.scss */

.progress-text {
    margin-top: 8px;
    text-align: center;
    font-weight: bold;
  }

ion-card {
  color: antiquewhite;
  margin: 10px;
  ion-avatar img {
    border-radius: 50%;
  }
}