<ion-header>
  <ion-toolbar>
    <ion-title>Usuarios</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <br>
  <ion-button (click)="abrirEvaluacion()">
  Realizar Evaluación
  </ion-button>
  <app-user-overview
    *ngFor="let usuario of usuarios"
    [nombre]="usuario.nombre"
    [email]="usuario.email"
    [avatar]="usuario.avatar">
  </app-user-overview>
</ion-content>

<app-layout></app-layout>

