<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Videos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Videos</ion-title>
    </ion-toolbar>
  </ion-header>

  <swiper-container 
    (slidechange)="swiperSliperChanged($event)"
    [loop]="true"
    [pagination]="true"
    >
    <swiper-slide>Slide 1</swiper-slide>
    <swiper-slide>Slide 2</swiper-slide>
    <swiper-slide>Slide 3</swiper-slide>
    ...
  </swiper-container>
</ion-content>
<app-layout></app-layout>